<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>煙囪上的貓 抽獎小幫手</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
</head>
<body>
    <!-- TITLE -->
    <section class="hero is-info">
        <div class="hero-body">
          <p class="title content has-text-centered py-6">
            煙囪上的貓 抽獎小幫手
          </p>
        </div>
    </section>

    <table class="table is-fullwidth mr-0">
        <tbody>
            <tr>
                <th><label class="checkbox panel-block">
                    <input type="checkbox" name="wood" id="wood">
                    木增幅典籍
                </label></th>
            </tr>
            <tr>
                <th><label class="checkbox panel-block">
                    <input type="checkbox" name="fire" id="fire">
                    火增幅典籍
                </label></th>
            </tr>
            <tr>
                <th><label class="checkbox panel-block">
                    <input type="checkbox" name="one" id="one">
                    一星技能書
                </label></th>
            </tr>
            <tr>
                <th><label class="checkbox panel-block">
                    <input type="checkbox" name="two" id="two">
                    二星技能書
                </label></th>
            </tr>
            <tr>
                <th><label class="checkbox panel-block" >
                    <input type="checkbox" name="three" id="three">
                    三星技能書
                </label></th> 
            </tr>
        </tbody>
    </table>

    <div class="field has-addons has-addons-centered">
        <button class="button is-white">
        <input id="post" type="button" value="送出" onclick="doFunction();">
        </button>
    </div>

    <!-- FOOTER -->
    <section class="hero is-info">
        <div class="hero-foot">
            <footer class="content has-text-centered py-6">
            <p>
                煙囪貓抽獎小幫手 is created by
                <a href="https://github.com/bear3z">BeAR3zzz</a>. The source code is
                licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            </footer>
        </div>
    </section>
</body>
</html>

<script>
    var liffID = "{{liffID}}"

    liff.init({
        liffId: liffID
    }).then(() => {
        if (!liff.isLoggedIn()) {
            liff.login();
        }
    })
    .catch((err) => {
        console.log(err.code, err.message);
    });

        
    function fetchStatus(response) {  
      if (response.status >= 200 && response.status < 400) {  
        return Promise.resolve(response)  
      } else {  
        return Promise.reject(new Error(response.statusText))  
      }  
    }

    document.getElementById("post").onclick = function(){
      liff.getProfile().then(profile => {
        console.log({profile}, profile.userId)
        return profile.userId;
      })
      .then(owner => {
        let data = {
          owner,
          wood: document.getElementById("wood").checked,
          fire: document.getElementById("fire").checked,
          one: document.getElementById("one").checked,
          two: document.getElementById("two").checked,
          three: document.getElementById("three").checked,
        }
        return fetch("/api/v1/drawing", {
          body: JSON.stringify(data),
          cache: "no-cache",
          method: "POST",
          headers: {
            "content-type": "application/json",
          },
          redirect: "follow",
          referrer: "no-referrer"
        })
      })
      .then(fetchStatus)
      .then(r => r.json())
      .then(() => {
        alert("你已經完成登記！");
      })
      .catch((err) => {
        console.log('error', err);
      });
    };


</script>
